body {
    background-color: rgb(232,215,200);
}


.header {
    padding-top: 30px;
    padding-bottom: 15px;
    border: 10px solid rgb(10,10,10);
    font-size: 25px;
    font-weight: 700;
    

}

.subheader {

    padding: 10px;
    margin-bottom:25px; 
    border: 5px dotted rgb(212,161,161);
    font-size: 20px;
    font-weight: 700;


}

.header, .subheader {
    text-align:center;
}

.header, .subheader, ul {
    width: 50%;
    margin: 0 auto;
}

a {
    font-family: verdana, sans-serif;
    color: blue;
    font-weight: 900;
    font-size: 12px;
}

ul {
    text-align: center;
    font-weight: 500;
    font-size: 10px;
}

h1 {
    background-color: yellow;
    color:black;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    font-family: "Times-New Roman", serif;
}

.Description, p {
    background-color: yellow;
    color:black;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    font-family: "Times-New Roman", serif;

}

#personal-tid {

    background-color: yellow;
    color:black;
    font-weight: 300;
    font-size: 25px;
    text-align: left;
    font-family: "Times-New Roman", serif;

}

.Ingridients {
    background-color: yellow;
    color:black;
    font-weight: 800;
    font-size: 25px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}

.Ingridients ul {
    background-color: yellow;
    color:black;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}

.steps {
    background-color: yellow;
    color:black;
    font-weight: 800;
    font-size: 25px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}

.steps ol {
    background-color: yellow;
    color:black;
    font-weight: 800;
    font-size: 20px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}