body {
    background-color: rgb(224,224,224);
    font-family: "Times-New Roman", serif;
}

h1 {

    background-color: black;
    color:white;
    font: weight 800px;
    font-size: 22px;
    text-align: center;


}

.description {

    background-color: black;
    color:white;
    font: weight 700px;
    font-size: 18x;
    text-align: center;


}


.description p {



}

#personal-tid {

}

ul li {

}

.steps {

}