body {
    background-color: rgb(232,215,200);
}


.home-page.header, .home-page.subheader {

    text-align:center;
    border: 2px solid rgb(149,167,191);
    margin: 20px 15px;
}

.home-page-header {
    top-padding: 30px;
    bottom-padding: 15px;
    border: 10px solid rgb(10,10,10);

}

.home-page-subheader {

    padding: 10px;
    bottom-margin:25px; 
    border: 5px dotted rgb(212,161,161);

}

a {
    font-family: verdana, sans-serif;
    color: blue;
    font-weight: 800em;
}

h1 {
    background-color: yellow;
    color:black;
    font: weight 800px;
    font-size: 40px;
    text-align: center;
    font-family: "Times-New Roman", serif;
}

.Description, p {
    background-color: yellow;
    color:black;
    font: weight 500px;
    font-size: 32px;
    text-align: center;
    font-family: "Times-New Roman", serif;

}

#personal-tid {

    background-color: yellow;
    color:black;
    font: weight 300px;
    font-size: 25px;
    text-align: left;
    font-family: "Times-New Roman", serif;

}

.Ingridients {
    background-color: yellow;
    color:black;
    font: weight 800px;
    font-size: 25px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}

.Ingridients ul {
    background-color: yellow;
    color:black;
    font: weight 800px;
    font-size: 20px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}

.steps {
    background-color: yellow;
    color:black;
    font: weight 800px;
    font-size: 25px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}

.steps ol {
    background-color: yellow;
    color:black;
    font: weight 800px;
    font-size: 20px;
    text-align: left;
    font-family: "Times-New Roman", serif;
}